@{ ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <h1>Welcome to My Portfolio</h1>
            <p>I’m thrilled to have you here. As a passionate web developer, I transform creative ideas into elegant, functional websites.</p>
            <p>This portfolio showcases a collection of my projects and skills, reflecting my journey from a coding enthusiast to a seasoned developer.</p>
            <p>Feel free to explore and get in touch if you have any questions or exciting opportunities. Let’s build something amazing together!</p>
            
        </div>
        <div class="hero-image">
         <img src="~/Images/WhatsApp Image 2024-07-27 at 19.23.41.jpeg" />
        </div>
    </section>

    
</body>
</html>

