
@{ ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        
    </header>

    <section id="portfolio" class="portfolio-section">
        <h2>My Projects</h2>

        <!-- Project 1 -->
        <div class="project">
            <img src="~/Images/WhatsApp Image 2024-07-27 at 21.29.50.jpeg" />
            <div class="project-description">
                <h3>Number Game</h3>
                <p>Developed a fun and interactive game where the user guesses a randomly generated number.</p>
                <p>I incorporated feedback mechanisms and implemented a scoring system to enhance user engagement.</p>
                <a href="https://github.com/Zukhanye9/codsoft_task1.git" class="btn" target="_blank">View on GitHub</a>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="project">
            <img src="~/Images/WhatsApp Image 2024-07-27 at 21.29.52.jpeg" />
            <div class="project-description">
                <h3>Student Grade Calculator</h3>
                <p>Created a program to input students' marks, calculate total marks, average percentage, and assign grades accordingly.</p>
                <p>This task helped me deepen my understanding of control structures and data handling in Java.</p>
                <a href="https://github.com/Zukhanye9/codsoft_task2.git" class="btn" target="_blank">View on GitHub</a>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="project">
            <img src="~/Images/WhatsApp Image 2024-07-27 at 21.29.52 (1).jpeg" />
            <div class="project-description">
                <h3>ATM Interface</h3>
                <p>Designed and Implemented an ATM interface with functionalities such as withdrawing, depositing, and checking the balance.</p>
                <p>This project involved creating classes to represent the ATM and bank account, ensuring a seamless and secure transaction process for the user.</p>
                <a href="https://github.com/Zukhanye9/codsoft_task3.git" class="btn" target="_blank">View on GitHub</a>
            </div>
        </div>
    </section>

    
</body>
</html>  
